.lmj-cart {
	color: white;
	background-color: #31b572;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 400px;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: 1px solid white;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.lmj-cart-closed {
	padding: 32px;
	width: 400px;
	border-right: 1px solid black;
}

.lmj-cart-closed > button {
	color: black;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
}

.phrase{
	padding-top: 20px;
}

